section{
    
    padding: 2rem 0;
  }
  label{
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px dotted black;
    border-radius: 20px;
    width:10rem;
    height:10rem;
    cursor:pointer;
    font-size: large;
  }
  label span{
    font-weight: lighter;
    font-size:small;
    padding-top: 0.5rem;

  }
  
  img{
    margin:0;
    padding: 0;
  }
  .images{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .hidden {
    
   display:none;
    
  }
  